<div class="row">
  <h1><%= @author.name %></h1>
  <h4><%= @author.birth_year %></h4>
  <div class="phone">
    <span class="glyphicon glyphicon-phone"></span>
    <%= @author.phone %>
  </div>
  <div class="address">
    <span class="glyphicon glyphicon-home"></span>
    <%= @author.address %>
  </div>
</div>
