<%= form_for current_user.favorites.find_by(book_id: @book.id),
  html: {method: :delete}, remote: true do |f| %>
  <button type="submit" class="btn btn-info"><%= t ".unfavorite" %></button>
<% end %>
