<footer id="footer" class="text-center">
  <%= link_to "#", class: "up-arrow", "data-toggle": "tooltip", title: "Up" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
  <% end %>
  <p>Copyright&copy;2018</p>
</footer>
